@mixin pc-layout {
  body.ispc & {
      @content;
  }
}

@mixin sp-layout {
  body.issp & {
      @content;
  }
}

@mixin set-image($url, $width, $height) {
  width: $width;
  height: $height;
  background-image: image-url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}